@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Bold-Italic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-ExtraBold-Italic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Medium-Italic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

html,body {
    margin: 0;
    padding: 0;
    cursor: default;
    height: 100vh;
}

body {
    font-family: "Cascadia Code", Menlo, monospace;
    background-color: #212220;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

#app {
    margin: 10px;
    margin-right: 3rem;
    border: 2px solid #3d3f3b;
    border-radius: 5px;
    background-color: #2D2E2C;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    color: #F8F8F8;
}

#terminal-head {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 2rem;
    text-align: center;
    font-size: medium;
    font-weight: bolder;
}

.terminal-container {
    flex-grow: 1;
    padding: 10px;
    background-color: #2D2E2C;
}

#terminal {
    height: 98%;  /* I dont understand why but it works */
}

.icon {
    height: 1.2rem;
    aspect-ratio: 1 / 1;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

.sio-not-connected {
    border-radius: 50%;
    background-color: #CE5C5C;
}

.sio-connected {
    border-radius: 50%;
    background-color: #5BCC5B;
}

.icon-github {
    background-image: url("/icons/github.svg");
}

.icon-telegram {
    background-image: url("/icons/telegram.svg");
}

.icon-helper {
    background-image: url("/icons/arrow.svg");
}

.icon-aloy {
    aspect-ratio: 1 / 1;
    background-image: url("/icons/aloy.svg");
}

.icon-404 {
    aspect-ratio: 1 / 1;
    background-image: url("/icons/404.svg");
}

.icon-helper-rotared {
    transform: rotate(180deg) !important;
}

.separator {
    margin-right: 0.5rem;
    flex-grow: 1;
}

#terminal-footer {
    background-color: #3d3f3b;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 1rem;
}

#version {
    margin-right: 0.5rem;
    color: #F8F8F8;
    text-align: center;
    font-size: x-small;
}

#helper {
    padding: 1rem;
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 30%);
}

.helper-show {
    display: flex !important;
}

.helper-link {
    color: white;
    text-decoration: none;
}

#helper-btn {
    color: white;
    text-decoration: none !important;
}
